  h1 {
    color:#ffffcc;
  }

  h2 {
    
  }
  .yellowType {
    color:#ffffcc;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 10px 0px 20px 0px;
  }

  .jumbotron {
    background-image: url("stage.jpg");
    background-size: cover;
    background-position: center;
    corner border-radius: 0px;
  }

  .caption {
    font-size: 12px;
    font-style: italic;
    margin-top: -15px;
  }

  /* unvisited link */
a:link {
  color: ##8E6BB3;
}

/* mouse over link */
a:hover {
  color: ##191122;
}

.nav-link {
  color: ###8E6BB3;
}